{% extends 'base.html.twig' %}

{% block body %}
    <h1> Список объектов </h1>

    <table>
        <tbody>
        {% for article in articles if article.description != '' and article.name != '' %}
            <tr>
                <td> {{ article.id }} -> {{ article.name }}  </td>
                <td> {{ article.description }} </td>
                <td> {{ article.created_at|date('Y-m-d H:i:s') }}  </td>

                <td> <a href = "{{ path('edit', { 'id': article.id }) }}" > Edit </a> </td>
                <td> <a href = "{{ path('delete', { 'id': article.id }) }}"> Delete </a> </td>
            </tr>
        {% else  %}
            No articles have been found.
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a href = " {{ path('new') }}"> Create </a>
{% endblock %}